.board-game-container {
    height: 80vh;
    background-color: #81ecec;
}

.board-game {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.box-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

}

.grid-item {
    width: 125px;
    height: 125px;
    padding: 10px;
    border: 3px solid gray;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.border-box-0 {
    border-left: none;
    border-top: none;
}

.border-box-1 {
    border-top: none;
}

.border-box-2 {
    border-top: none;
    border-right: none;
}

.border-box-3 {
    border-left: none;
}

.border-box-5 {
    border-right: none;
}

.border-box-6 {
    border-left: none;
    border-bottom: none;
}

.border-box-7 {
    border-bottom: none;
}

.border-box-8 {
    border-right: none;
    border-bottom: none;
}

.x-cell::before,
.x-cell::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 95px;
    background-color: #181818;
}

.x-cell::before {
    transform: rotate(45deg);
}

.x-cell::after {
    transform: rotate(-45deg);
}

.o-cell::before,
.o-cell::after {
    content: '';
    position: absolute;
    border-radius: 50%;
}

.o-cell::before {
    width: 90px;
    height: 90px;
    background-color: #181818;
}

.o-cell::after {
    width: 70px;
    height: 70px;
    background-color: #81ecec;
}

.disabled {
    pointer-events: none;
}

.horizontal-line {
    height: 150px;
    width: 4px;
    background-color: #181818;
    transform: rotate(90deg);
    z-index: 1;
}

.vertical-line {
    height: 150px;
    width: 4px;
    background-color: #181818;
    z-index: 1;
}

.oblique-line-1 {
    height: 220px;
    width: 4px;
    background-color: #181818;
    transform: rotate(135deg);
    z-index: 1;
}

.oblique-line-2 {
    height: 220px;
    width: 4px;
    background-color: #181818;
    transform: rotate(-135deg);
    z-index: 1;
}

.reset-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.footer-section {
    height: 50px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/*********************************************** MEDIA QUERY*************************************/

@media (min-width: 1600px) {
    .grid-item {
        width: 150px;
        height: 150px;
    }
}

@media (max-width: 786px) or (max-height: 600px) {
    .grid-item {
        width: 100px;
        height: 100px;
    }

    .x-cell::before,
    .x-cell::after {
        width: 10px;
        height: 65px;
    }

    .o-cell::before {
        width: 65px;
        height: 65px;
    }
    
    .o-cell::after {
        width: 50px;
        height: 50px;
    }

    .horizontal-line, .vertical-line  {
        height: 100px;
    }

    .oblique-line-1, .oblique-line-2 {
        height: 150px;
    }
}

@media (max-width: 320px) {
    .grid-item {
        width: 75px;
        height: 75px;
    }

    .x-cell::before,
    .x-cell::after {
        width: 7px;
        height: 57px;
    }

    .o-cell::before {
        width: 55px;
        height: 55px;
    }
    
    .o-cell::after {
        width: 40px;
        height: 40px;
    }

    .horizontal-line, .vertical-line  {
        height: 75px;
    }

    .oblique-line-1, .oblique-line-2 {
        height: 125px;
    }
}