<div class="board-game-container">
  <div class="board-game">
    <div class="box-container">
      <div
        class="grid-item"
        *ngFor="let item of boxItems; let i = index"
        [ngClass]="{
          'border-box-0': i === 0,
          'border-box-1': i === 1,
          'border-box-2': i === 2,
          'border-box-3': i === 3,
          'border-box-5': i === 5,
          'border-box-6': i === 6,
          'border-box-7': i === 7,
          'border-box-8': i === 8,
          'x-cell': isBoxXPress[i],
          'o-cell': isBoxOPress[i]
        }"
        [class.disabled]="isBoxDisabled[i]"
        (click)="clickedBox(i)"
      >
      <div *ngIf="(i === 0 || i === 1 || i === 2) && isBoxXPress[0] && isBoxXPress[1] && isBoxXPress[2]" class="horizontal-line"></div>
      <div *ngIf="(i === 3 || i === 4 || i === 5) && isBoxXPress[3] && isBoxXPress[4] && isBoxXPress[5]" class="horizontal-line"></div>
      <div *ngIf="(i === 6 || i === 7 || i === 8) && isBoxXPress[6] && isBoxXPress[7] && isBoxXPress[8]" class="horizontal-line"></div>
      <div *ngIf="(i === 0 || i === 1 || i === 2) && isBoxOPress[0] && isBoxOPress[1] && isBoxOPress[2]" class="horizontal-line"></div>
      <div *ngIf="(i === 3 || i === 4 || i === 5) && isBoxOPress[3] && isBoxOPress[4] && isBoxOPress[5]" class="horizontal-line"></div>
      <div *ngIf="(i === 6 || i === 7 || i === 8) && isBoxOPress[6] && isBoxOPress[7] && isBoxOPress[8]" class="horizontal-line"></div>

      <div *ngIf="(i === 0 || i === 3 || i === 6) && isBoxXPress[0] && isBoxXPress[3] && isBoxXPress[6]" class="vertical-line"></div>
      <div *ngIf="(i === 1 || i === 4 || i === 7) && isBoxXPress[1] && isBoxXPress[4] && isBoxXPress[7]" class="vertical-line"></div>
      <div *ngIf="(i === 2 || i === 5 || i === 8) && isBoxXPress[2] && isBoxXPress[5] && isBoxXPress[8]" class="vertical-line"></div>
      <div *ngIf="(i === 0 || i === 3 || i === 6) && isBoxOPress[0] && isBoxOPress[3] && isBoxOPress[6]" class="vertical-line"></div>
      <div *ngIf="(i === 1 || i === 4 || i === 7) && isBoxOPress[1] && isBoxOPress[4] && isBoxOPress[7]" class="vertical-line"></div>
      <div *ngIf="(i === 2 || i === 5 || i === 8) && isBoxOPress[2] && isBoxOPress[5] && isBoxOPress[8]" class="vertical-line"></div>  
    
      <div *ngIf="(i === 0 || i === 4 || i === 8) && isBoxXPress[0] && isBoxXPress[4] && isBoxXPress[8]" class="oblique-line-1"></div>
      <div *ngIf="(i === 2 || i === 4 || i === 6) && isBoxXPress[2] && isBoxXPress[4] && isBoxXPress[6]" class="oblique-line-2"></div>
      <div *ngIf="(i === 0 || i === 4 || i === 8) && isBoxOPress[0] && isBoxOPress[4] && isBoxOPress[8]" class="oblique-line-1"></div>
      <div *ngIf="(i === 2 || i === 4 || i === 6) && isBoxOPress[2] && isBoxOPress[4] && isBoxOPress[6]" class="oblique-line-2"></div>
    </div>
    </div>
  </div>

  <div class="reset-button">
    <button type="button" class="btn btn-secondary" (click)="resetGame()">Reset Game</button>
  </div>

  <div class="footer-section">
    <app-footer></app-footer>
  </div>
</div>